.container
  margin 0 auto
  max-width 1360px
  width 60%

.container__contain
  width 60%
  margin 0 auto 40px auto

.container__contain--border
  border 1px solid rgba(34,36,38,.15)
  border-radius .28571429rem
  padding 1em

.contain__text
  line-height 1.3

@media screen and (max-width: 960px)
  .container
    width 100%

  .container__contain
    width 90%